div(class="login")
    h1(class="h1") Welcome to some mad Yatzy 
    link(rel="stylesheet", href="css/login.css")
    script(src="/js/login.js" defer)
    label username 
        input(type="username", name="username", placeholder="Username", id="userName", requred) 
    button(type="submit", id="register") Join game
    ul(id="playerList")