div(class="login")
    h1(class="h1") Welcome to some mad Yatzy 
    link(rel="stylesheet", href="css/login.css")
    script(src="/js/login.js" defer)
    label Type Username 
        input(type="username", name="username", placeholder="Username", id="userName", requred) 
    button(type="submit", id="register") Join game
    button(type="submit", id="start") Start game
    table
        tr(id="tr")
            td Server 1: 
            td 
        tr(id="tr")
            td Server 2: 
            td 
                a(href="https://www.youtube.com/watch?v=MtN1YnoL46Q") Fake server  
        tr(id="tr")
            td Server 3: 
            td 
                a(href="https://youtu.be/dQw4w9WgXcQ?si=kQGgwYs7DDB-V67x") Special needs server
    ul(id="playerList")