div(class="login")
    h1(class="h1") Welcome to some mad Yatzy 
    link(rel="stylesheet", href="css/login.css")
    form(action="/login,", method="post")
        label username 
         input(type="username", name="username", placeholder="Username", requred) 
        button(type="submit") Join game