html(lang="en")
    head
        script(type="module", src="js/endscreen.js") 
        link(rel="stylesheet", href="css/endscreen.css")
        title You are done! player "" wins! 
    body(class="body") 
        h1#header Congratulations to player "Insert player name"
        button#reset Play again?
        h1#scores The player score are:
            ul(class="scoreList")#scoreList
                li 1
                li 2
                li 3