.login{
    width: 300px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login h1{
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login input[type="username"]{
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    margin-bottom: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}

.login button[type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: grey;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.login body{
    text-align: center;

}

.login tr[type="tr"]{
    border-width: 2px;
    border-color: black;

}

.login ul{
    min-height: 50vh;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-style: groove;
    border-color: black;
    color: white;
}


