#container{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-style: groove;
    border-radius: 3px;
    border-color: black;
}

#h1{
    text-align: center;
    font-size: 50px;
}
#ul{
    font-size: 25px;
}

.highlight {
    font-weight: bold; /* Optional: Make the text bold */
    font-size: 35px;
    border-style: groove;
    border-color: black;
    border-radius: 17px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.unHighlight{
    color: black;
}

